# use the latest ubuntu environment (18.04) available on travis
dist: xenial

language: go

go:
  - 1.14.x

# Only clone the most recent commit.
git:
  depth: 1

# Don't email me the results of the test runs.
notifications:
  email: false

go_import_path: github.com/centrifuge/go-substrate-rpc-client

services:
  - docker

install:
  - make install

script:
  - make lint
  - make test-dockerized

after_success:
  - bash <(curl -s https://codecov.io/bash)
