on:
  push:
    branches: [master]
  pull_request:
name: Lint
jobs:
  lint:
    name: Lint check
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out code
        uses: actions/checkout@v3.0.0
        with:
          fetch-depth: 1
      - name: check
        run: make lint
